<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1 class="mb-4">Create a new product</h1>
    <form id="loginForm" action="/products/create" method="post" class="space-y-4 bg-gray-800 p-6 rounded"  ``
        enctype="multipart/form-data">
        <h4>Product detailes </h4>
        <label for="">Product Image</label>
        <input type="file" name="image" class="py-2 px-4 rounded" value="Select FIle">
        <input type="text" name="name" class="py-2 px-4 rounded" placeholder="Product Name">
        <input type="text" name="price" class="py-2 px-4 rounded" placeholder="Product Price">
        <input type="text" name="discount" class="py-2 px-4 rounded" placeholder="Discount price">
        <p>panel Detailes</p>
        <input type="text" name="bgcolor" class="py-2 px-4 rounded" placeholder="Panel BG  color ">
        <input type="text" name="panalcolor" class="py-2 px-4 rounded" placeholder="Panel color">
        <input type="text" name="textcolor" class="py-2 px-4 rounded" placeholder="Text color">
        <input type="submit" value="Create" name="button" id="">

    </form> 
</body>

</html>