<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form id="loginForm" action="/owners/products/create" class="space-y-4 bg-gray-800 p-6 rounded"
        enctype="multipart/form-data">

        <input type="email" id="loginEmail" placeholder="Email" class="w-full p-2 rounded text-white" />

        <input type="password" id="loginPassword" placeholder="Password" class="w-full p-2 rounded text-white" />

        <button type="submit" class="w-full bg-green-400 text-white p-2 rounded">Sign In</button>
    </form>
</body>

</html>